html{
  font-size:62.5%;
  box-sizing: border-box;
}

body,
#root{
  height:100vh;
  margin:0;
}

body, select, input, textarea{
  font-size: 1.6 rem;
  font-family: Arial, Helvetica, sans-serif;
}


.grid-container{
  display: grid;
  grid-template-areas: "header" 
  "main" 
  "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height:100%;
}
a:hover{  
  color:#ff8000;
}
header a{
  color:#ffffff;
  text-decoration: none;
  padding: 0.5 rem;
}

header{
  grid-area: header;
  background-color: #203040;
  color:#ffffff;
  display:flex;
  justify-content: center;
}

main{

  grid-area: main; 
  background-color: #ffffff;    
}

footer{
  grid-area: footer;
  background-color: #203040;
  color:#ffffff;
  display:flex;
  justify-content: center;
  align-items: center;
}
